
body {
  font-family: "Montserrat";           
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {            /*consider grouping h selectors*/
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

.wassup-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  color:  rgb(77, 250, 106);
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}



.container-fluid{
  padding: 7% 15%;
}


/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.item-li {
  padding: 0 18px;
  color: #1c103b;
}

.nav-link {
  font-size: 2.0rem;
  font-family: "Montserrat-Light";
}


.download-button {
  margin: 7% 7% 7% 25%;
  
}
.download-button1 {
  margin: 5% 4% 5% 0;
  
}




/* homepage Section */

#home-sec {
  background-color:#8e8aa0;
  color: #fff;
  text-align: left;

}

#home-sec .container-fluid {
  padding: 3% 1% 1%;
}


/* Image */
.home-sec-image0{
  width: 100%;
  position: relative;

}
.home-sec-image {
  width: 100%;
  position: relative;

}
#glowMe{
 /* background-image: linear-gradient(#08F7FE,rgb(18, 196, 12));       */
  border-radius: 60px;
  padding-left: 20%; 
  border-left-color: #08F7FE;
  border-left-style: solid;
  border-left-width: 6px;
  
  
  border-right-color: #08F7FE;
  border-right-style: solid;
  border-right-width: 6px;
  
  border-top-color: #08F7FE;
  border-top-style: solid;
  border-top-width: 6px;

  border-bottom-color: #08F7FE;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  
}


.home-sec-image2{
  width: 70%;
  position: relative;
  border-radius: 50%;

}


#aboutme{
  background-color: rgb(34, 59, 16);
  margin-bottom: 0px;
}
#aboutme p{
  font-size: 30px;
  margin-bottom: 0px;
  color: #faecd2;
}
/* tools Section  */
.exp{
  
  color:  rgb(77, 250, 106);
}
#tools {
  position: relative;
  background-color: #a0948a;

}
.me{
  font-size: 3rem;
  text-decoration: none;
  color: rgb(77, 250, 106);
  text-decoration-color:rgb(214, 69, 69) ;
}
.tool-item {   
  font-size: 2.0rem;
}


.feature-box {
  padding: 4.5%;
}


i{
  font-size: 70px;
  color: #f52828;
}


/* projects Section */

#projects {
  padding: 100px;
  background-image: linear-gradient(rgb(156, 30, 72), rgb(156, 30, 72));
}
.projects{
color: rgb(77, 250, 106);
}


.pricing-column {
  padding: 4% 4%;   /*top&bottom, right&left*/
}

.par-projects{
  color: rgb(36, 255, 7);
  background-color: #180101;
  
}

/* Footer Section */
#footer{
  background-color: #10063b;
}
#cpage{
  color: blue;
}

/*This media query should be at the end here*/
@media (max-width: 1028px) {

  #home-sec {
    text-align: center;
  }

  .home-sec-image {
    position: static;
  }
}
