
#pro1:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


 /* styling scrollbar */
    /* width */
    ::-webkit-scrollbar {
      width: 17px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px rgb(33, 250, 44);
      border-radius: 60px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background-color: #15bb4c;
      border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background-color: #16743a;
    }



html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat";
  text-align: center;
  background-color: #000000;
}

h1, h2, h3, h4, h5, h6 {            /*consider grouping h selectors*/
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}

.wassup-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  color:  rgb(77, 250, 106);
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}



.container-fluid{
  padding: 1% 15%;
}
/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.item-li {
  padding: 0 10px;  
}

.nav-link {
  font-size: 1.9rem;
  font-family: "sans-serif";
  cursor: pointer;
  border-radius: 5px 20px 5px;

}
.nav-link:hover{
  background: linear-gradient(rgb(39, 99, 11),rgb(27, 151, 48));
}

.download-button {
  margin: 7% 7% 7% 25%;

}





/* homepage Section */

#home-sec {
  background: linear-gradient(rgb(11, 195, 36),black,black,black,black,black,black,black,rgb(0, 7, 0),rgb(0, 0, 0), rgb(0, 0, 0), black);
  height: 100%;
  width: 100%;
}
#HomepageImage{
  background-color:rgb(12, 177, 111);
   border-radius: 15px 50px 30px 5px;
}
#HomepageImage:hover{
  background: linear-gradient(black,rgb(0, 0, 0));
}

#welcomeImage{
  margin-left: 50%; 
  border-top: solid rgb(0, 0, 0) 8px; 
  border-bottom: solid rgb(0, 0, 0) 8px; 
  border-right: solid rgb(0, 0, 0) 8px; 
  border-left: solid rgb(0, 0, 0) 8px; 
  opacity: .4;
  height: 500px;
  width: 480px;
}
#welcomeImage:hover{
  margin-left: 50%; 
  border-top: solid rgb(87, 255, 40) 8px; 
  border-bottom: solid rgb(87, 255, 40) 8px; 
  border-right:solid rgb(87, 255, 40) 8px; 
  border-left: solid rgb(87, 255, 40) 8px; 
  opacity: 1;
  
  
}



/* Image */
.home-sec-image0{
  width: 100%;
  position: relative;

}
.home-sec-image {
  width: 100%;
  position: relative;

}



#container:hover .home-sec-image2 {
  opacity: 0.3;
}

#container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #036d03;
  color: rgb(34, 255, 144);
  font-size: 30px;
  padding: 16px 32px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#second-pic{
  border-radius: 60px;
}


.home-sec-image2{
  width: 100%;
  height: 70%;
  position: relative;
  border-radius: 14%;
}

#hr{
  color: #08F7FE;
}
#aboutme{
  background-color: #011803;
  margin-bottom: 0px;
}

#major{
  color: #ff9a48;
  font-size: 25px;
  background-color: none;
}
#ed{
  color: #6eda60;
  font-size: 35px;
  text-decoration: none;
  font-family: Montserrat;

}


#gsul{
  border-radius: 40%;
}
#request {
  background-color: #1c87c9;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #080808;
  cursor: pointer;
  display: inline-block;
  font-family: Montserrat;
  font-size: 20px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  
}
#request {
  animation: glowing 1300ms infinite;
  font-size: 15px;
}

#play{
    background-color: #58bd3f;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: none;
    color: #080808;
    cursor: pointer;
    display: inline-block;
    font-family: Montserrat;
    font-size: 20px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}
@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 20px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
}
#request {
  animation: glowing 1300ms infinite;
}
.hob{
  color: #dad1d1;
  font-size: 35px;
}
#hob1{
  border-radius: 50px 20px;
}
#hob2{
  border-radius: 30px 70px;
}

/* tools Section  */

#tools {
  position: relative;
  background-color: #011803;

}
.me{
  font-size: 50px;
  text-decoration: none;
  color: rgb(22, 253, 1);
  text-decoration-color:rgb(214, 69, 69) ;
}


.tool-item {
  font-size: .8 rem;
  color: #ffffff;
}


.feature-box {
  padding: 4.5%;
}


i{
  font-size: 70px;
  color: #86dd13;
}


/* projects Section */

#projects {
  padding: 100px;
  background-color: #011803;

}
.projects{
color: rgb(21, 143, 37);
}


.pricing-column {
  padding: 4% 4%;   /*top&bottom, right&left*/
}

.par-projects{
  color: rgb(36, 255, 7);
  background-color: rgb(24, 1, 1);
  margin: 25px 10px 15px 20px;
  text-align: left;
}

/* Footer Section */
#footer{
  background-color: #0b2702;
  display: row;
}
#cpage{
  color: rgb(208, 255, 0);
}
/* */

#gettoknowme{
  font-size: 1000px;
  color: black;
  font-size: 1.4rem;
  background-color: #97f856; 
  box-shadow: hsl(59, 81%, 72%);
  border: 15px solid rgb(7, 12, 8);
  padding: 10px; margin: 20px;
}

#researchFrame{
  width: 1000px;
  height: 500px;
  border:5px solid rgb(255, 0, 0);
}

#about_div{
  border-left: 6px solid rgb(217, 255, 0);
}

#welcomeImage2{
  display: none;
}
#exp{
  color:  rgb(66, 233, 121);
}
nav{
  background-color: black;
}
/*media query */
@media (max-width: 1028px) {
  .par-projects{
    color: rgb(36, 255, 7);
    background-color: rgb(24, 1, 1);
    margin: 25px 10px 15px 20px;
    text-align: left;
    font-size: 45px;
  }

  #welcomeImage2{
    display: inline;
    opacity: .8;
  }

  #codingImage{
    display: none;
  }

  #home-sec {
    text-align: center;
  }

  .home-sec-image {
    position: static;
  }
}


#statement{
 font-family: 'Courier New', Courier, monospace; 
 color: #36ec09; font-size: 1.4rem;
}

#logoText{
  color:rgb(99, 253, 10);
  font-weight:bold; 
  font-size: 2.2rem;
  font-family: "Brush Script MT", sans-serif;
  text-shadow: 4px 4px 4px rgb(110, 129, 58);
  margin-left: 2%;
}

#navLinks{
  text-decoration: none; 
  color: #36ec09;
}
#request{
  font-family: Montserrat;
}
#request2{
  display: none;
}
#researchTitle{
  color:  rgb(66, 233, 121); 
  font-family: Montserrat;
}
#subTitleProjects{
  color:rgb(255, 255, 255);
}
/* mobile view */
@media (max-width: 1000px){
  #contactText{
    font-size: 50px;
  }
  #subTitleProjects{
    color:rgb(255, 255, 255);
    font-size: 45px;
  }
  #researchTitle{
    font-size: 60px;
  }
 nav{
   background-color: rgb(4, 5, 0);
 }
 #relatedCourses{
   display: none;
 }
  #aboutme{
    background-color: #000000;
    margin-bottom: 0px;
  }  
  
  #about_div{
    border-left: 6px solid rgb(55, 255, 255);
    border-right: 6px solid rgb(55, 255, 255);
  }
  #exp{
    color:  rgb(66, 233, 121);
    font-size: 60px;
  }
  .tool-item{
    font-size: 50px;
  }

  
  #request{
    display: none;
  }
  #logoText{
    color:rgb(93, 255, 134);
    font-weight:bold; 
    font-size: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 4px 4px 4px rgb(110, 129, 58);
    margin-left: 2%;
  }
  #HomepageImage{
    display: none ;
  }
  #statement{
    display: none;
  }
  #home-sec {
    display: none;
  }
  #ytButton{
    display: none;
  }
  #logo{
    width: 200px;
  }
 
  #navLinks{
    font-size: 40px;
  }
  #statement{
    font-size: 40px;
  }

  #ed{
    display: none;
  }
  .me{
    font-size: 80px;
    text-decoration: none;
    color: #a1f8d4;
    text-decoration-color:rgb(214, 69, 69) ;
  }

  #gettoknowme{
    font-size: 60px;
    color: black;
    background-color: #56f8ad; 
    box-shadow: hsl(59, 81%, 72%);
    border: 1px solid rgb(7, 12, 8);
    padding: 1px; margin: 2px;
  }
  
  #gettoknowmeDiv{
    width: 100%;
    height: 100%;
  }
  .hob{
    font-size: 60px;
  }

}




.glow {
  font-size: 55px;
  color: rgb(21, 29, 22);
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px #fff, 0 0 30px #49e600, 0 0 40px #49e600, 0 0 50px #49e600, 0 0 60px #49e600, 0 0 70px #49e600;
  }
  
  to {
    text-shadow: 0 0 20px rgb(251, 255, 22), 0 0 30px #49e600, 0 0 40px #49e600, 0 0 50px #c7e67e, 0 0 60px #c7e67e, 0 0 70px #c7e67e, 0 0 80px #c7e67e;
  }
}


#mypic{
  border-radius: 50px px;
  border-bottom: #08F7FE;
}
#contact{
  font-family: Montserrat;
  margin-left: 90px;
}

.heading h3 {
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.text-slider-items {
  display: none;
}
.text-slider-items2 {
  display: none;
}


