
body {
  font-family: "Montserrat";           
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {            /*consider grouping h selectors*/
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

.wassup-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  color: #e3e6cf;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}



.container-fluid{
  padding: 7% 15%;
}



/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.item-li {
  padding: 0 18px;
}

.nav-link {
  font-size: 2.0rem;
  font-family: "Montserrat-Light";
}


.download-button {
  margin: 5% 4% 5% 0;
}

/* homepage Section */

#home-sec {
  background-color: #1c103b;
  color: #fff;
  text-align: left;
}

#home-sec .container-fluid {
  padding: 3% 15% 7%;
}
.myhello{
  text-decoration: underline;
  text-decoration-color: rgb(14, 46, 226);
  
}

/* Image */

.home-sec-image {
  width: 70%;
  position: absolute;
  right: 30%;
  border-radius: 50%;
}
#aboutme{
  background-color: rgb(255, 255, 255);
  margin-bottom: 0px;
}
#aboutme p{
  font-size: 30px;
  margin-bottom: 0px;
}
/* tools Section  */
.exp{
  
  color: rgb(160, 173, 39);
}
#tools {
  position: relative;
  background-image: linear-gradient(rgb(253, 253, 253),rgb(64, 145, 199));

}
.me{
  font-size: 3rem;
  text-decoration: underline;
  text-decoration-color:rgb(214, 69, 69) ;
}
.tool-item {   
  font-size: 2.0rem;
}


.feature-box {
  padding: 4.5%;
}


i{
  font-size: 70px;
  color: #f52828;
}


/* projects Section */

#projects {
  padding: 100px;
  background-image: linear-gradient(rgb(156, 30, 72),#1c103b);
}
.projects{
color: rgb(77, 250, 106);
}


.pricing-column {
  padding: 4% 4%;   /*top&bottom, right&left*/
}

.par-projects{
  color: rgb(34, 213, 236);
  background-color: rgb(20, 3, 34);
}



/* Footer Section */
#footer{
  background-color: #1c103b;
}
#cpage{
  color: blue;
}

/*This media query should be at the end here*/
@media (max-width: 1028px) {

  #home-sec {
    text-align: center;
  }

  .home-sec-image {
    position: static;
  }
}
