
#pro1:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


 /* styling scrollbar */
    /* width */
    ::-webkit-scrollbar {
      width: 17px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px rgb(33, 250, 44);
      border-radius: 60px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background-color: #15bb4c;
      border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background-color: #16743a;
    }



html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {            /*consider grouping h selectors*/
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

.wassup-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  color:  rgb(77, 250, 106);
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}



.container-fluid{
  padding: 7% 15%;

}


/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.item-li {
  padding: 0 18px;
  color: #1c103b;
}

.nav-link {
  font-size: 2.0rem;
  font-family: "Montserrat-Light";
}


.download-button {
  margin: 7% 7% 7% 25%;

}
.download-button1 {
  margin: 5% 4% 5% 0;

}




/* homepage Section */
#background-home {

background: white;

}

#home-sec {
  background: url();
  color: #fff;
  text-align: left;

}

#home-sec .container-fluid {
  padding: 3% 1% 1%;
}


/* Image */
.home-sec-image0{
  width: 100%;
  position: relative;

}
.home-sec-image {
  width: 100%;
  position: relative;

}



#container:hover .home-sec-image2 {
  opacity: 0.3;
}

#container:hover .middle {
  opacity: 1;
}
#glowMe{

  border-radius: 50px;

  border-bottom-color: #f54223;
  border-bottom-style: solid;
  border-bottom-width: 6px;



  border-top-color: #f54223;
  border-top-style: solid;
  border-top-width: 6px;

  border-left-color: #f54223;
  border-left-style: solid;
  border-left-width: 6px;

  border-right-color: #f54223;
  border-right-style: solid;
  border-right-width: 6px;

  background-color: #f55757;
}
.text {
  background-color: #036d03;
  color: rgb(34, 255, 144);
  font-size: 30px;
  padding: 16px 32px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#second-pic{
  border-radius: 60px;
}


.home-sec-image2{
  width: 100%;
  height: 70%;
  position: relative;
  border-radius: 14%;
}
#background-home{
  background-color: #e90000;
  background-image: url("/media/3\(2).png");
}

#hr{
  color: #08F7FE;
}
#aboutme{
  background-color: #5C755E;
  margin-bottom: 0px;
}

#major{
  color: #ff9a48;
  font-size: 25px;
  background-color: none;
}
#ed{
  color: #6eda60;
  font-size: 35px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;

}


#gsul{
  border-radius: 40%;
}
#request {
  background-color: #1c87c9;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #080808;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  
}
#request {
  animation: glowing 1300ms infinite;
  font-size: 15px;
}

#play{
    background-color: #f1f07c;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: none;
    color: #080808;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}
@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 20px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
}
#request {
  animation: glowing 1300ms infinite;
}
.hob{
  color: #dad1d1;
  font-size: 35px;
}
#hob1{
  border-radius: 50px 20px;
}
#hob2{
  border-radius: 30px 70px;
}

/* tools Section  */
.exp{

  color:  rgb(66, 233, 121);
}
#tools {
  position: relative;
  background-color: #3A5F0B;

}
.me{
  font-size: 50px;
  text-decoration: none;
  color: rgb(22, 253, 1);
  text-decoration-color:rgb(214, 69, 69) ;
}
.tool-item {
  font-size: 2.0rem;
  color: #ffffff;
}


.feature-box {
  padding: 4.5%;
}


i{
  font-size: 70px;
  color: #86dd13;
}


/* projects Section */

#projects {
  padding: 100px;
  background-color: #CCFFBB;

}
.projects{
color: rgb(21, 143, 37);
}


.pricing-column {
  padding: 4% 4%;   /*top&bottom, right&left*/
}

.par-projects{
  color: rgb(36, 255, 7);
  background-color: rgb(24, 1, 1);
  margin: 25px 10px 15px 20px;
  text-align: center;
}

/* Footer Section */
#footer{
  background-color: #0b2702;
}
#cpage{
  color: rgb(248, 37, 9);
}

/*This media query should be at the end here*/
@media (max-width: 1028px) {

  #home-sec {
    text-align: center;
  }

  .home-sec-image {
    position: static;
  }
}




.glow {
  font-size: 4vw;
  color: rgb(0, 0, 0);
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px #fff, 0 0 30px #49e600, 0 0 40px #49e600, 0 0 50px #49e600, 0 0 60px #49e600, 0 0 70px #49e600;
  }
  
  to {
    text-shadow: 0 0 20px rgb(251, 255, 22), 0 0 30px #49e600, 0 0 40px #49e600, 0 0 50px #c7e67e, 0 0 60px #c7e67e, 0 0 70px #c7e67e, 0 0 80px #c7e67e;
  }
}
